---
Language: Cpp
BasedOnStyle: Microsoft
Standard: c++23

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4

ColumnLimit: 120

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

IndentCaseLabels: false
IndentCaseBlocks: false

NamespaceIndentation: All
FixNamespaceComments: true
CompactNamespaces: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align

SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false

BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

AlwaysBreakTemplateDeclarations: Yes

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<'
    Priority: 2

ReflowComments: false
SortUsingDeclarations: true

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
...
